body{
    background-color: red;
    font-family: Arial, sans-serif;
}

header{
    text-align: center;
    background-color: darkred;
}


main{
    display: flex;

}
img{
    height: 80%;
    width: 50%;
    border: 3px solid white;
}

footer{
    text-align: center;
    font-size: small;
    padding-top: 10px;
}
